<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    input {
      width: 215px;
    }
    .form-input {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <h2>작성</h2>
  <form action="/article/write" method="post">
    <div class="form-input">
      <input type="text" name="title" placeholder="제목">
    </div>
    <div class="form-input">
      <input type="password" name="password" placeholder="비밀번호">
    </div>
    <div>
      <textarea name="content" id="" cols="30" rows="10"></textarea>
    </div>
    <button>작성</button>
  </form>
</body>
</html>